{% include "base.html" %}
{% include "nav.html" %}

<main style="margin-top: 58px;">
    <div class="container pt-4">
        <a href="#">
        <div class="card" style="width: 30rem;">
            <img
                src="https://gaussian37.github.io/assets/img/python/etc/openpyxl/openpyxl.jpg"
                class="card-img-top"
                alt="Sunset Over the Sea"
            />
            <div class="card-body">
                <h5 class="card-title text-dark fw-bold">
                    사무자동화를 위한 엑셀 파이썬
                </h5>
                <p class="card-text text-muted">
                    openpyxl를 활용해 파이썬으로 엑셀 문서를 자동화하기 위한 기초 사용법부터 Pandas와 결합한 응용, ITQ 엑셀 시험 문제 구현까지 다룹니다.
                </p>
            </div>
        </div>
        </a>
    </div>
</main>