{% include "base.html" %}
{% include "nav.html" %}

<main style="margin-top: 58px;">
<div class="container pt-4">
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Tools</h5>

        <div class="form-outline">
        <input type="text" id="typeText" class="form-control" />
        <label class="form-label" for="typeText">Text input</label>
        </div>

        <div class="form-outline">
        <input type="text" id="typeText2" class="form-control" />
        <label class="form-label" for="typeText2">Text input</label>
        </div>

        <button type="button" class="btn btn-dark mt-3">Button</button>
    </div>
</div>
</div>
</main>
