<!-- NAV BAR -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3" style="background-color: #333;">
    <div class="container-fluid" style="justify-content:flex-end">
        <a class="navbar-brand font-weight-bold" href="/">코딩잔향</a>

        <!-- Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Toggle Button -->

        <!-- NAV Item -->
        <div class="navbar-collapse collapse font-weight-bold" id="myNavbar">
            <ul class="nav navbar-nav ml-auto mr-auto">
                <!-- HOME: Contact -->
                <li class="nav-item text-left ml-3">
                    <a class="nav-link" href="/">
                        <div style="font-size: 120%;">
                            About
                        </div>
                    </a>
                </li>
                <!-- HOME: Contact -->
                <!-- Books -->
                <li class="nav-item text-left ml-3">
                    <a class="nav-link" href="/books">
                        <div style="font-size: 120%;">
                            Books
                        </div>
                    </a>
                </li>
                <!-- Books -->
                <!-- ToolBox -->
                <li class="nav-item text-left ml-3">
                    <a class="nav-link" href="/tools">
                        <div style="font-size: 120%;">
                            ToolBox
                        </div>
                    </a>
                </li>
                <!-- ToolBox -->
            </ul>
        </div>
        <!-- NAV Item -->
    </div>
</nav>
<!-- NAV BAR -->