{% include "base.html" %}
{% include "nav.html" %}

<!--Main layout-->
<main style="margin-top: 58px;">
  <div class="container pt-4">
    <!-- 배너 영역 -->
    <div class="jumbotron jumbotron-fluid mt-2 ml-3 mr-3" id="banner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="alert alert-danger" role="alert" id="dreamfont">
                    올바르지 않은 접근입니다.
                </div>
            </div>
        </div>
    </div>
    <!-- 배너 영역 -->
  </div>
</main>
<!--Main layout-->
